<div *ngIf="loading$ | async" class="loading">
    Loading repositories...
  </div>
  
  <div *ngIf="error$ | async as error" class="error">
    {{ error }}
  </div>
  
  <ul *ngIf="repos$ | async as repos">
    <li *ngFor="let repo of repos">
      <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
    </li>
  </ul>
  <div *ngIf="loading$ | async" class="loading">
    <img src="assets/loading-spinner.gif" alt="Loading..."> <!-- Usando um spinner de carregamento -->
    Loading repositories...
  </div>
  <!-- Exibe uma notificação quando o usuário está offline -->
<div *ngIf="!(isOnline$ | async)" class="offline-warning">
    <p>You are offline. Some features may not be available.</p>
  </div>